@media screen and (max-width:993px) {
    .nav-container{
       align-items: center;
    }
}

@media screen and (max-width:576px) {
    .nav-container{
        /* width: 50%; */
    height: 43px;
    justify-content: space-between;
    align-items: center;
     }
    .nav-hamburger{
        display: block;
        margin-top: 75px;
    }

    .nav-items-content{
        display:none; 
    }
    .baner-container{
        /* width: 50%; */
        flex-direction: column;

      }
      .baner-text-content h4{
        font-size: 40px;
        font-weight: 900;  
    }
    .baner-text-content p{
        font-size: 5px;
        font-weight: 400;
    }
    .habits-content{
       /* width: 70%;
       align-items: flex-start; */
    }
    .habits-text-content h3{
        font-size: 35px;
    }
    .habits-text-content p{
        font-size: 9px;
    }
    .habits-img-content{
        grid-template-columns: repeat(1,1fr);
    }
    .run-content{
        width: 100%;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }
    .run-img-container img{
        width: 360px;
        height: 200px;

    }
    .run-text-container button{
        padding: 10px 150px;
        /* margin: 34px 0px; */
        border-radius: 52px;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);

    
    }
    .footer-content{
        flex-direction: column;
        }