@media screen and (max-width:993px) {
    .nav-container{
       align-items: center;
    }
}

@media screen and (max-width:576px) {
    .nav-container{
    height: 43px;
    justify-content: space-between;
    align-items: center;
     }
    .nav-hamburger{
        display: block;
        margin-top: 75px;
    }

    .nav-items-content{
        display:none; 
    }
    .baner-container{
        flex-direction: column;
      }
      ..baner-text-content{
        max-width: 20%;
      }
      .baner-text-content h4{
        font-size: 50px;
        font-weight: 900;  
    }
    .baner-text-content p{
        font-size: 10px;
        font-weight: 400;
    }
    .btn{
    
    }
}